<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.marchrius.infohidersettings</string>
			<key>key</key>
			<string>enableTweak</string>
			<key>alternateColors</key>
			<true/>
			<key>label</key>
			<string>ENABLE_INFOHIDER_LABEL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>OPTIONS</string>
			<key>footerText</key>
			<string>DESCRIPTION_FIRST_GROUP</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.marchrius.infohidersettings</string>
			<key>key</key>
			<string>useCustomMessage</string>
			<key>label</key>
			<string>USE_CUSTOM_MESSAGE_LABEL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.marchrius.infohidersettings</string>
			<key>key</key>
			<string>message</string>
			<key>label</key>
			<string>MESSAGE_LABEL</string>
			<key>placeholder</key>
			<string>...</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.marchrius.infohidersettings</string>
			<key>key</key>
			<string>canAddRefreshControl</string>
			<key>cellClass</key>
			<string>TitleTruncatedCell;</string>
			<key>label</key>
			<string>ADD_REFRESH_CONTROL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>SwitchesInfoHiderListController</string>
			<key>isController</key>
			<string>1</string>
			<key>bundle</key>
			<string>SwitchesInfoHider</string>
			<key>label</key>
			<string>Switches</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.marchrius.infohidersettings</string>
			<key>key</key>
			<string>canCopyIt</string>
			<key>label</key>
			<string>LABEL_MAKE_COPYABLE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DBG_OPT</string>
			<key>footerText</key>
			<string>DISABLE_DEBUG_LABEL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.marchrius.infohidersettings</string>
			<key>key</key>
			<string>debugMode</string>
			<key>label</key>
			<string>DBG_MODE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
			<key>footerText</key>
			<string>ABOUT_ME</string>
		</dict>
		<dict>
			<key>action</key>
			<string>visitWebsite:</string>
			<key>icon</key>
			<string>profile.png</string>
			<key>label</key>
			<string>WEBSITE</string>
			<key>cell</key>
			<string>PSLinkCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>visitTwitter:</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>Twitter</string>
			<key>cell</key>
			<string>PSLinkCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>paypalDonate:</string>
			<key>icon</key>
			<string>donate.png</string>
			<key>label</key>
			<string>Donate</string>
			<key>cell</key>
			<string>PSLinkCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Version</string>
			<key>get</key>
			<string>valueForSpecifier:</string>
		</dict>
	</array>
	<key>title</key>
	<string>InfoHider</string>
</dict>
</plist>
