<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>false</string>
			<key>defaults</key>
			<string>com.marchrius.infohidersettings</string>
			<key>key</key>
			<string>Network</string>
			<key>label</key>
			<string>NETWORK</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>false</string>
			<key>defaults</key>
			<string>com.marchrius.infohidersettings</string>
			<key>key</key>
			<string>Line</string>
			<key>label</key>
			<string>LINE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>false</string>
			<key>defaults</key>
			<string>com.marchrius.infohidersettings</string>
			<key>key</key>
			<string>Songs</string>
			<key>label</key>
			<string>SONGS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>false</string>
			<key>defaults</key>
			<string>com.marchrius.infohidersettings</string>
			<key>key</key>
			<string>Videos</string>
			<key>label</key>
			<string>VIDEOS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>false</string>
			<key>defaults</key>
			<string>com.marchrius.infohidersettings</string>
			<key>key</key>
			<string>Photos</string>
			<key>label</key>
			<string>PHOTOS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>false</string>
			<key>defaults</key>
			<string>com.marchrius.infohidersettings</string>
			<key>key</key>
			<string>Applications</string>
			<key>label</key>
			<string>APPLICATIONS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>false</string>
			<key>defaults</key>
			<string>com.marchrius.infohidersettings</string>
			<key>key</key>
			<string>Capacity</string>
			<key>label</key>
			<string>User Data Capacity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>false</string>
			<key>defaults</key>
			<string>com.marchrius.infohidersettings</string>
			<key>key</key>
			<string>Available</string>
			<key>label</key>
			<string>User Data Available</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>false</string>
			<key>defaults</key>
			<string>com.marchrius.infohidersettings</string>
			<key>key</key>
			<string>Version</string>
			<key>label</key>
			<string>ProductVersion</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>false</string>
			<key>defaults</key>
			<string>com.marchrius.infohidersettings</string>
			<key>key</key>
			<string>Carrier</string>
			<key>label</key>
			<string>CARRIER_VERSION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>false</string>
			<key>defaults</key>
			<string>com.marchrius.infohidersettings</string>
			<key>key</key>
			<string>Model</string>
			<key>label</key>
			<string>ProductModel</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>false</string>
			<key>defaults</key>
			<string>com.marchrius.infohidersettings</string>
			<key>key</key>
			<string>Serial Number</string>
			<key>label</key>
			<string>SERIALNUMBER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>false</string>
			<key>defaults</key>
			<string>com.marchrius.infohidersettings</string>
			<key>key</key>
			<string>Phone Number</string>
			<key>label</key>
			<string>CellularDataAddress</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>false</string>
			<key>defaults</key>
			<string>com.marchrius.infohidersettings</string>
			<key>key</key>
			<string>Wi-Fi Address</string>
			<key>label</key>
			<string>MACAddress</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>false</string>
			<key>defaults</key>
			<string>com.marchrius.infohidersettings</string>
			<key>key</key>
			<string>Bluetooth</string>
			<key>label</key>
			<string>BTMACAddress</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>false</string>
			<key>defaults</key>
			<string>com.marchrius.infohidersettings</string>
			<key>key</key>
			<string>IMEI</string>
			<key>label</key>
			<string>ModemIMEI</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>false</string>
			<key>defaults</key>
			<string>com.marchrius.infohidersettings</string>
			<key>key</key>
			<string>MEID</string>
			<key>label</key>
			<string>MEID</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>false</string>
			<key>defaults</key>
			<string>com.marchrius.infohidersettings</string>
			<key>key</key>
			<string>ICCID</string>
			<key>label</key>
			<string>ICCID</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<string>false</string>
			<key>defaults</key>
			<string>com.marchrius.infohidersettings</string>
			<key>key</key>
			<string>Firmware Modem</string>
			<key>label</key>
			<string>ModemVersion</string>
		</dict>
	</array>
	<key>title</key>
	<string>Switches</string>
</dict>
</plist>
